h1= title

#scores
  script(type='text/javascript')
    var scoredata = !{JSON.stringify(domainData)};

  #chartit.large

  table.table#companies
    thead
      tr
        td Company Name
    tbody
    for val, company in domainData
      tr
        td
          a(href='/company/#{val.id}') #{company}
