!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    #navigation(class='navbar navbar-fixed-top')
      .navbar-inner
        .container
            a(href="/").brand Senderly
    #content(class='container')!= body

    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/highcharts.js')
    if !scripts
      scripts = []

    each script in scripts
            script(type='text/javascript', src='/javascripts/#{script}')
