/* line 6, ../../scss/_base.scss */
body {
  background: #fff;
}

/* line 3, ../../scss/application.scss */
#content {
  margin-top: 40px;
}

/* line 7, ../../scss/application.scss */
.ip-list {
  height: 400px;
  overflow: auto;
}

/* line 12, ../../scss/application.scss */
.view-link {
  font-size: .5em;
  margin-left: 5px;
  float: right;
}
